<div class="header row justify-content-between py-3 px-5">
    <div class="d-flex align-items-end">
        <a routerLink="/proposals" routerLinkActive="active" class="mx-2" style="color: white;">Propostas</a>
        <a *ngIf="role !== 'admin'" routerLink="/new-proposal" routerLinkActive="active" class="mx-2" style="color: white;">Nova proposta</a>
    </div>
    <button class="btn btn-dark" (click)="logout()">Logout</button>
</div>