<app-header></app-header>
<div class="p-3">
    <div class="d-flex justify-content-center align-items-center">
        <div *ngIf="errorMessage !== ''" class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ errorMessage }}
        </div>
        <div *ngIf="successMessage !== ''" class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" aria-label="Close" (click)="closeSuccessAlert()">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ successMessage }}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h2>Adicione uma nova proposta</h2>
            <p>Faça uma simulação de uma nova proposta e pergunte ao seu cliente se ele aprova ou rejeita a simulação gerada.</p>
        </div>
    </div>
    <div>
        <form [formGroup]="proposalForm" (ngSubmit)="onSubmit(proposalForm.value, content)" class="mt-4">
            <div class="form-row">
                <div class="form-group col-4">
                    <label for="cnpjOrCpf">CNPJ ou CPF:</label>
                    <input id="cnpjOrCpf" type="text" formControlName="cnpjOrCpf" class="form-control" required>
                </div>
                <div class="form-group col-4">
                    <label for="phoneNumber">Telefone:</label>
                    <input id="phoneNumber" type="text" formControlName="phoneNumber" class="form-control" required>
                </div>
                <div class="form-group col-4">
                    <label for="email">Email:</label>
                    <input id="email" type="text" formControlName="email" class="form-control">
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-4">
                    <label for="rivalName">Concorrente:</label>
                    <select id="rivalName" formControlName="rivalName" class="form-control" (change)="changeRival()" required>
                        <option [ngValue]="undefined" selected>Escolha um concorrente</option>
                        <option *ngFor="let riv of rivals" [ngValue]="riv.name"> {{riv.name}} </option>
                    </select>
                </div>
                <div class="form-group col-4">
                    <label for="rivalDebitTax">Taxa de débito do concorrente:</label>
                    <input id="rivalDebitTax" type="number" formControlName="rivalDebitTax" class="form-control" required>
                </div>
                <div class="form-group col-4">
                    <label for="ribalCreditTax">Taxa de crédito do concorrente:</label>
                    <input id="ribalCreditTax" type="number" formControlName="ribalCreditTax" class="form-control" required>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-4">
                    <label for="activityName">Ramo de atividade:</label>
                    <select id="activityName" formControlName="activityName" class="form-control" (change)="changeActivity()" required>
                        <option [ngValue]="undefined" selected>Escolha um concorrente</option>
                        <option *ngFor="let act of activities" [ngValue]="act.name"> {{act.name}} </option>
                    </select>
                </div>
                <div class="form-group col-4">
                    <label for="proposalDebitTax">Taxa de débito proposta:</label>
                    <input id="proposalDebitTax" type="number" formControlName="proposalDebitTax" class="form-control" required>
                </div>
                <div class="form-group col-4">
                    <label for="proposalCreditTax">Taxa de crédito proposta:</label>
                    <input id="proposalCreditTax" type="number" formControlName="proposalCreditTax" class="form-control" required>
                </div>
            </div>
            <div class="row justify-content-end px-4">
                <button class="btn btn-primary mt-3" type="submit">Gerar proposta</button>
            </div>
        </form>
        <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Confirme sua proposta</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="proposalForm" (ngSubmit)="onSubmit(proposalForm.value, content)" class="mt-4">
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="cnpjOrCpf">CNPJ ou CPF:</label>
                            <input id="cnpjOrCpf" type="text" formControlName="cnpjOrCpf" class="form-control" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label for="phoneNumber">Telefone:</label>
                            <input id="phoneNumber" type="text" formControlName="phoneNumber" class="form-control" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label for="email">Email:</label>
                            <input id="email" type="text" formControlName="email" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <div class="form-group col-4">
                            <label for="rivalName">Concorrente:</label>
                            <input id="rivalName" type="text" formControlName="rivalName" class="form-control" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label for="rivalDebitTax">Taxa de débito do concorrente:</label>
                            <input id="rivalDebitTax" type="number" formControlName="rivalDebitTax" class="form-control" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label for="ribalCreditTax">Taxa de crédito do concorrente:</label>
                            <input id="ribalCreditTax" type="number" formControlName="ribalCreditTax" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <div class="form-group col-4">
                            <label for="activityName">Ramo de atividade:</label>
                            <input id="activityName" type="text" formControlName="activityName" class="form-control" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label for="proposalDebitTax">Taxa de débito proposta:</label>
                            <input id="proposalDebitTax" type="number" formControlName="proposalDebitTax" class="form-control" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label for="proposalCreditTax">Taxa de crédito proposta:</label>
                            <input id="proposalCreditTax" type="number" formControlName="proposalCreditTax" class="form-control" readonly>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="submitProposal('Rejeitada')">Rejeitar proposta</button>
              <button type="button" class="btn btn-success" (click)="submitProposal('Aprovada')">Aceitar proposta</button>
            </div>
        </ng-template>
    </div>
</div>
