<div class="loginPage d-flex justify-content-center align-items-center">
    <div *ngIf="errorMessage !== ''" class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ errorMessage }}
    </div>
    <div class="card text-center p-4">
        <h5> Login </h5>
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" class="mt-4">
            <div class="form-group">
                <label for="name">Usuário:</label>
                <input id="name" type="text" formControlName="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input id="password" type="password" formControlName="password" class="form-control" required>
            </div>
            <button class="btn btn-primary mt-3" type="submit">Entrar</button>
        </form>
    </div>
</div>