.loginPage {
    background-image: linear-gradient(to bottom right, #1e286b, #7981b5);

    /* Size definition */
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;

    /* Positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.card {
    width: 35% !important;
}

.alert {
    position: fixed;
    top: 10px;
}