<app-header></app-header>
<div class="p-3">
    <div class="row">
        <div class="col-10">
            <h2>Propostas efetuadas</h2>
            <p>Visualize um relatório completo com todas as propostas efetuadas até então.</p>
        </div>
        <div class="col-2">
            <button class="btn btn-success" (click)="exportAsCsv(proposals)">Exportar</button>
        </div>
    </div>
    <div class="mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Usuário</th>
                    <th scope="col">Data</th>
                    <th scope="col">Taxa de débito proposta</th>
                    <th scope="col">Taxa de crédito proposta</th>
                    <th scope="col">Situação</th>
                    <th scope="col">Concorrente</th>
                    <th scope="col">Taxa de débito do concorrente</th>
                    <th scope="col">Taxa de crédito do concorrente</th>
                    <th scope="col">Email</th>
                    <th scope="col">CNPJ/CPF</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Ramo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prop of proposals">
                    <td> {{prop.user}} </td>
                    <td> {{tsToDate(prop.timeStamp)}} </td>
                    <td> {{prop.proposalDebitTax}}% </td>
                    <td> {{prop.proposalCreditTax}}% </td>
                    <td> {{prop.status}} </td>
                    <td> {{prop.rivalName}} </td>
                    <td> {{prop.rivalDebitTax}}% </td>
                    <td> {{prop.ribalCreditTax}}% </td>
                    <td> {{prop.email}} </td>
                    <td> {{prop.cnpjOrCpf}} </td>
                    <td> {{prop.phoneNumber}} </td>
                    <td> {{prop.activityName}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
